<!-- [Kaaya]  Build: 0.0.3 - Tuesday, October 22nd, 2019, 9:16:15 PM  --> 
 <!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Kaaya Sample !</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" />
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="../build/kaaya.min.js"></script>
		<style>
			.blockGO {
				float: left;
				margin: 20px;
				width: 45%;
				border: 1px solid #b8bbd4;
				border-radius: 10px;
				padding: 10px 8px;
			}
		</style>
	</head>

	<body>
		<section class="section">
			<div class="container">
				<h1 class="title">Kaaya Sample - Entity Component tree</h1>

				<div id="app">
					<div style="display: block; overflow: auto;">
						<list :id="server.id" :name="server.name" :proxy="server.proxy"></list>
						<list :id="client.id" :name="client.name" :proxy="client.proxy"></list>
					</div>
				</div>
			</div>
		</section>

		<script>
			// hack to work with webpack-dev-server
			

			Array.prototype.random = function() {
				return this[Math.floor(Math.random() * this.length)]
			}

			Vue.component("list-elem", {
				props: ["proxy", "elem", "elemId"],
				template: `
				<div style="padding-left: 25px;" v-if="!!elem">
					{{ elem.name }} (<small>{{ elemId }}</small> <span v-if="!elem.name">{{elem.position}}</span>)
					<list-elem v-for="childId of elem.componentIds" v-bind:proxy="proxy" v-bind:key="childId" v-bind:elem="proxy[childId]" v-bind:elemId="childId"></list-elem>
					<list-elem v-for="childId of elem.childIds" v-bind:proxy="proxy" v-bind:key="childId" v-bind:elem="proxy[childId]" v-bind:elemId="childId"></list-elem>
				</div>`
			})

			Vue.component("list", {
				props: ["proxy", "name", "id"],
				template: `
			<div class="blockGO">
				<label class="label">{{ name }} (<small>{{ id }}</small>)</label>
				<div>
					<list-elem v-for="childId of proxy.meta.root" v-bind:proxy="proxy" v-bind:elem="proxy[childId]" v-bind:elemId="childId" v-bind:key="childId"></list-elem>
				</div>
				<div style="text-align: center; margin-top: 10px;">
					<input class="button is-link" type="button" value="Add" v-on:click="this.add"/>
					<input class="button is-link" type="button" value="Delete" v-on:click="this.delete"/>
					<input class="button is-link" type="button" value="Move" v-on:click="this.move"/>
				</div>
			</div>`,
				methods: {
					move: function() {
						var store = mapStore.get(this.id)
						var childId = store.getData("canvas").childIds.random()
						if (!childId) return
						store.getEntity(childId).transform.position.x += 1
					},
					add: function() {
						var store = mapStore.get(this.id)

						var id = "test" + Math.round(Math.random() * 10000)
						store.create("Entity", { id, parentId: "canvas", name: id })
						store.create("Transform", { id: `${id}_transform`, parentId: id })
					},
					delete: function() {
						var store = mapStore.get(this.id)
						var childId = store.getData("canvas").childIds.random()
						if (childId) store.delete(childId)
					}
				}
			})

			// create server data store
			var objServer = Kaaya.createEntityComponentStore({ meta: { selected: "", root: [] } })
			objServer.create("Entity", { id: "game", name: "Game" })
			objServer.create("Entity", { id: "canvas", name: "Canvas" })
			objServer.data.meta.root = ["game", "canvas"]

			// get object and move it
			objServer.create("Entity", { id: "game_object", parentId: "game", name: "Game Object" })
			objServer.create("Transform", { id: "game_object_transform", parentId: "game_object" })

			var entity = objServer.getEntity("game_object")
			entity.enable = false
			entity.transform.position.x = 5

			// create few clients
			var objClient = Kaaya.createEntityComponentStore({ meta: { selected: "", root: [] } })

			var mapStore = new Map()
			mapStore.set(objServer.id, objServer)
			mapStore.set(objClient.id, objClient)

			var app = new Vue({
				el: "#app",
				data() {
					return {
						server: { id: objServer.id, name: "Server", proxy: objServer.proxy },
						client: { id: objClient.id, name: "Client", proxy: objClient.proxy }
					}
				},
				mounted() {
					objServer.observe(mut => {
						this.server.proxy = objServer.proxy
						var history = objServer.history
						setTimeout(() => objClient.sync(history), 500)
					})
					objClient.observe(mut => {
						this.client.proxy = objClient.proxy
					})
				}
			})
		</script>
	</body>
</html>
 