<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Kaaya Sample !</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" />
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="./kaaya.js"></script>
		<style>
			.blockGO {
				float: left;
				margin: 20px;
				width: 45%;
				border: 1px solid #b8bbd4;
				border-radius: 10px;
				padding: 10px 8px;
			}
		</style>
	</head>

	<body>
		<section class="section">
			<div class="container">
				<h1 class="title">Kaaya Sample - Entity Component tree</h1>

				<div id="app">
					<div style="display: block; overflow: auto;">
						<list
							v-for="store in stores"
							v-bind:proxy="store.proxy"
							v-bind:key="store.key"
							v-bind:name="store.id"
							v-bind:id="store.key"
						></list>
					</div>
				</div>
			</div>
		</section>

		<script>
			// hack to work with webpack-dev-server
			window.Kaaya = window.Kaaya.default

			Array.prototype.random = function() {
				return this[Math.floor(Math.random() * this.length)]
			}

			Vue.component("list-elem", {
				props: ["proxy", "elem", "elemId"],
				template: `
				<div style="padding-left: 25px;" v-if="!!elem">
					{{ elem.name }} (<small>{{ elemId }}</small> <span v-if="!elem.name">{{elem.position}}</span>)
					<list-elem v-for="childId of elem.componentIds" v-bind:proxy="proxy" v-bind:key="childId" v-bind:elem="proxy[childId]" v-bind:elemId="childId"></list-elem>
					<list-elem v-for="childId of elem.childIds" v-bind:proxy="proxy" v-bind:key="childId" v-bind:elem="proxy[childId]" v-bind:elemId="childId"></list-elem>
				</div>
			`,
				mounted: function() {
					// console.log("list-elem", this.proxy, this.elem, this.elemId)
					var store = mapStore.get(this.proxy)
					store.observe(mut => {
						if (!mut.path.startsWith(this.elemId)) return
						// console.log("Get Change", mut.path, this.elemId, !mut.path.startsWith(this.elemId))
						this.$forceUpdate()
					})
				}
			})

			Vue.component("list", {
				props: ["proxy", "name", "id"],
				data: function() {
					return {
						childs: ["canvas", "game"]
					}
				},
				methods: {
					// send: function() {
					// 	var data = mapStore.get(this.proxy).data
					// 	objServer.store.sync([objServer.data, objServer.proxy], store.getHistory())
					// },
					move: function() {
						var store = mapStore.get(this.proxy)
						var childId = store.getData("canvas").childIds.random()
						if (!childId) return
						store.getEntity(childId).transform.position.x += 1
					},
					add: function() {
						var store = mapStore.get(this.proxy)

						var id = "test" + Math.round(Math.random() * 10000)
						store.create("Entity", { id, parentId: "canvas", name: id })
						store.create("Transform", { id: `${id}_transform`, parentId: id })
					},
					delete: function() {
						var store = mapStore.get(this.proxy)
						var childId = store.getData("canvas").childIds.random()
						if (childId) store.delete(childId)
					}
				},
				template: `
			<div class="blockGO">
				<label class="label">{{ name }} (<small>{{ id }}</small>)</label>
				<div>
					<list-elem v-for="childId of proxy.meta.root" v-bind:proxy="proxy" v-bind:elem="proxy[childId]" v-bind:elemId="childId" v-bind:key="childId"></list-elem>
				</div>
				<div style="text-align: center; margin-top: 10px;">
					<input class="button is-link" type="button" value="Add" v-on:click="this.add"/>
					<input class="button is-link" type="button" value="Delete" v-on:click="this.delete"/>
					<input class="button is-link" type="button" value="Move" v-on:click="this.move"/>
				</div>
			</div>`,
				mounted: function() {
					// console.log("list", this.proxy, this.name, this.id)
					var store = mapStore.get(this.proxy)
					store.observe(mut => this.$forceUpdate())
				}
			})

			// create server data store
			var objServer = Kaaya.createEntityComponentStore({ meta: { selected: "", root: [] } })
			objServer.create("Entity", { id: "game", name: "Game" })
			objServer.create("Entity", { id: "canvas", name: "Canvas" })
			objServer.data.meta.root = ["game", "canvas"]

			// get object and move it
			objServer.create("Entity", { id: "game_object", parentId: "game", name: "Game Object" })
			objServer.create("Transform", { id: "game_object_transform", parentId: "game_object" })

			var entity = objServer.getEntity("game_object")
			entity.enable = false
			entity.transform.position.x = 5

			// create few clients
			var objClient = Kaaya.createEntityComponentStore({ meta: { selected: "", root: [] } })

			objServer.observe(mut => {
				// console.log(`Store [${objServer.id}]`, serverProxy)
				var history = JSON.parse(JSON.stringify(objServer.history))
				setTimeout(() => objClient.sync(history), 500)
			})

			var serverProxy = objServer.instantiateProxy()
			var clientProxy = objClient.instantiateProxy()

			// console.log(`Ready to start ${objServer.id} -> ${objClient.id}`)

			var mapStore = new WeakMap()
			mapStore.set(serverProxy, objServer)
			mapStore.set(clientProxy, objClient)

			// console.log(serverProxy)
			var app = new Vue({
				el: "#app",
				data: {
					stores: []
				},
				mounted() {
					this.stores.push({ id: "Server", key: objServer.id, proxy: serverProxy })
					this.stores.push({ id: "Client", key: objClient.id, proxy: clientProxy })
				}
			})
		</script>
	</body>
</html>
